.home-div-imgbackr{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image  2s ease-in-out;
}

.home-welcome-text{
    width: 600px;
    height: 600px;
    position:absolute;
    left:0; right:0;
    top:75%; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    text-align: center;
    font-size: 60px;

}

.home-welcome-text p{
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Roboto",'Times New Roman';
}

.home-dropping-texts {
     display: inline-block;
     margin-right: -120px;
     margin-top: -65px;
     font-size: 40px;
     text-align: right;
     height: 36px;
}
.home-dropping-texts > p {
    color: white;
    opacity:0;
    position:absolute;
    font-weight:300;
    box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.19);
}

.home-dropping-texts > p:nth-child(1) {
    animation: roll 5s linear infinite 0s;
}
.home-dropping-texts > p:nth-child(2) {
    animation: roll 5s linear infinite 1s;
}
.home-dropping-texts > p:nth-child(3) {
    animation: roll 5s linear infinite 2s;
}
.home-dropping-texts > p:nth-child(4) {
    animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
    0% {
        font-size:0px;
        opacity:0;
        margin-left:-30px;
        margin-top:0px;
        transform: rotate(-25deg);
    }
    3% {
        opacity:1;
        transform: rotate(0deg);
    }
    5% {
        font-size:inherit;
        opacity:1;
        margin-left:0px;
        margin-top:0px;
    }
    20% {
        font-size:inherit;
        opacity:1;
        margin-left:0px;
        margin-top:0px;
        transform: rotate(0deg);
    }
    27% {
        font-size:0px;
        opacity:0.5;
        margin-left:20px;
        margin-top:100px;
    }
    100% {
        font-size:0px;
        opacity:0;
        margin-left:-30px;
        margin-top:0px;
        transform: rotate(15deg);
    }
}

@keyframes roll2 {
    0% {
        font-size:0px;
        opacity:0;
        margin-left:-30px;
        margin-top:0px;
        transform: rotate(-25deg);
    }
    3% {
        opacity:1;
        transform: rotate(0deg);
    }
    5% {
        font-size:inherit;
        opacity:1;
        margin-left:0px;
        margin-top:0px;
    }
    30% {
        font-size:inherit;
        opacity:1;
        margin-left:0px;
        margin-top:0px;
        transform: rotate(0deg);
    }
    37% {
        font-size:0px;
        opacity:0;

    }
    100% {
        font-size:0px;
        opacity:0;
        margin-left:-30px;
        margin-top:0px;
        transform: rotate(15deg);
    }
}





.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: #333;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.11);
    z-index: 99;
}
.sidebar .item {
    line-height: 1;
    font-size: 25px;
    color: #f2f2f2;
    cursor: pointer;
    padding: 10px 0;
    margin: 10px 4px;
    text-align: center;
    background-color: #333;
    border: solid 4px #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all ease-in-out .27s;
}
.sidebar .item:hover {
    text-shadow: 0px 0px 25px #000;
}
.sidebar .item.active {
    border-color: #f2f2f2;
    margin-left: 28px;
}
.sidebar .item.active:hover {
    text-shadow: none;

}
.home-nav{
    width: 64px;
    height: 64px;
    margin-left: 10px;
    background: url("../../img/home-32.png") no-repeat  ;

}
.blog-nav{
    width: 64px;
    height: 64px;
    margin-left: 10px;
    background: url("../../img/google-blog-search-32.png") no-repeat  ;
}
.person-nav{
    width: 64px;
    height: 64px;
    margin-left: 10px;
    background: url("../../img/checked-user-32.png") no-repeat  ;
}